.page-content-trabajador {
  flex-direction: column;
  display: flex;
  gap: 20px;


}

.trabajador-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

}

.acciones-proceso {
  margin-top: 10px;
}

.page-content-trabajador {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title-procesos {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;

}

.grid-procesos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 350px));
  gap: 22px;
  justify-content: start;
  margin-bottom: 20px;

}









.badge {
  padding: 2px 8px;
}