.page-content-trabajador {
    flex-direction: column;
    display: flex;
    gap: 20px;

    
}
.trabajador-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.acciones-proceso{
    margin-top: 10px;
}


.grid-procesos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}