.btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 10px 16px;
  border-radius: 5px;

  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  background: var(--text-blanco);

  cursor: pointer;
  border: none;
  transition: background 0.2s ease, box-shadow 0.2s ease;
  color: var(--neutral-700);

}

.btn-primary {
  border: 1px solid var(--neutral-400);
  padding: 10px 16px;
}
.btn-primary:hover {
  background: var(--neutral-600);
  color: var(--text-blanco);
}

.btn-primary:disabled {
  background: var(--neutral-300);
  cursor: not-allowed;
}

.btn-header {
  border-radius: 100px;
  transition: background-color 0.3s ease;


  font-weight: 600;
  padding: 12px 20px;
}


.btn-secondary {
  background: var(  --brand-600);
  color: var(--text-blanco);
  padding: 10px 16px;
  border-radius: 5px;
  border: none;
  

}

.btn-secondary:hover {
  background: var(--neutral-600);
  cursor: pointer;
  color: var(--neutral-50);
}
