.sidebar {
  background-color: var(--bg-sidebar);
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-right: 1px solid var(--bg-border);
}

.sidebar-logo {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 18px;
  text-align: center;

}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.sidebar-item {
  padding: 12px 16px;
  border-radius: 5px;
  color: var(--text-items);
  cursor: pointer;
  transition: background 0.2s;
  text-decoration: none;

}

.sidebar-item:hover {
  background-color: var(--neutral-400);
  font-weight: 600;
  
  
}

.sidebar-item.active {
  color: var(--brand-700);
  background-color: var(--brand-100);
  font-weight: 600;

}
.sidebar-item.active .sidebar-item-label {
  color: inherit;

}


.sidebar-conjunto {
  display: flex;
  align-items: center;
  gap: 8px;
}



.sidebar-item-label { 
  color: var(--text-secondary);
}

