:root {
  /* ===== BRAND PRIMARY ===== */
  --brand-50: #F0F9FF;
  --brand-100: #E1F2FD;
  --brand-200: #BCE5FB;
  --brand-300: #81D2F8;
  --brand-400: #3DBBF3;
  --brand-500: #1E83FF;
  --brand-600: #0782C2;
  --brand-700: #07689D;
  --brand-800: #0A5882;
  --brand-900: #0F496B;
  --brand-950: #0A2F47;
  --brand-1000: #2563eb;

  /* ===== NEUTRAL ===== */
  --neutral-50: #F9FAFB;
  --neutral-100: #F5F6F9;
  --neutral-200: #F2F4F7;
  --neutral-300: #E5E7EB;
  --neutral-400: #D0D4DC;
  --neutral-500: #9BA2B0;
  --neutral-600: #677084;
  --neutral-700: #373F51;
  --neutral-800: #222834;
  --neutral-900: #14171F;
  --neutral-950: #1B1B1B;

  /* ===== POSITIVE ===== */
  --success-50: #ecfdf6;
  --success-100: #d2f9e7;
  --success-200: #a9f1d4;
  --success-300: #71e4bc;
  --success-400: #3CE3A0;
  --success-500: #13A47C;
  --success-600: #028764;
  --success-700: #07654C;
  --success-800: #085242;
  --success-900: #074236;

  /* ===== NEGATIVE ===== */
  --danger-50: #FDF3F3;
  --danger-100: #FCE4E5;
  --danger-200: #FACED0;
  --danger-300: #F4ADB0;
  --danger-400: #EC7D81;
  --danger-500: #E05359;
  --danger-600: #CC363C;
  --danger-700: #A5282D;
  --danger-800: #8E262A;
  --danger-900: #772528;
  --danger-950: #400F11;


  /*=====info====*/
  --info--50: #f1f3fd;
  --info--100: #dee3fb;
  --info--200: #c5d0f8;
  --info--300: #9db2f3;
  --info--400: #6f8beb;
  --info--500: #4a61e3;
  --info--600: #3946d7;
  --info--700: #2f34c6;
  --info--800: #2c2da1;
  --info--900: #292b7f;
  --info--950: #1d1d4e;
}

:root {
  /* ===== BACKGROUNDS ===== */
  --bg-page: var(--neutral-50);
  --bg-card: var(--neutral-50);
  --bg-border: var(--neutral-400);
  --bg-sidebar: var(--neutral-200);
  --bg-buttom: var(--neutral-100);
  --bg-buttom2: var(--brand-50);
  --bg-buttom2-hover: var(--brand-100);
  --bg-card-login: #ffffff;
  --bg-buttom-hover1: var(--brand-200);
  /* ===== TEXT ===== */
  --text-primary: var(--neutral-900);
  --text-secondary: var(--neutral-600);
  --text-muted: var(--neutral-500);
  --text-inverse: #FFFFFF;
  --text-blanco: #FFFFFF;
  --text-items: var(--neutral-700);
  --text-black: #171717;
  /* ===== BORDERS ===== */
  --border-default: var(--neutral-300);
  --border-primarybuttom-header: var(--brand-500);
  --border-secondarybuttom-header: var(--brand-700);
  --border-imput-focus: var(--brand-500);
  /* ===== ACTIONS ===== */
  --action-primary: var(--brand-500);
  --action-primary-hover: var(--brand-600);

  --action-success: var(--success-500);
  --action-danger: var(--danger-500);

  /* ===== STATUS ===== */
  --status-success-bg: var(--success-100);
  --status-danger-bg: var(--danger-100);

  /* ===== RADIUS ===== */
  --radius-sm: 5px;
  --radius-md: 12px;
  --radius-lg: 20px;

  /* ===== SHADOW ===== */
  --shadow-card: 0 4px 12px rgba(0, 0, 0, 0.06);

  /* ===== TYPO ===== */
  --font-base: 'Inter', system-ui, sans-serif;
  --font-title: 'Poppins', system-ui, sans-serif;
}