.badge-finalizado {
    padding: 4px 12px;
    border-radius: var(--radius-md);
    font-size: 12px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var((--brand-700));
    background-color: #dbeafe;


}