.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
    flex-wrap: wrap;

}

.table-header-left {
    display: flex;
    flex: 1;
    gap: 12px;
    align-items: center;


}

.table-header-right {
    display: flex;
    gap: 12px;
    align-items: center;
}